.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  width: 1200px;
  max-width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.conversation {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
}

.user,
.gpt {
  max-width: 60%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.user {
  background-color: darkgray;
  color: white;
  align-self: flex-end;
}

.gpt {
  background-color: lightgray;
  color: black;
  align-self: flex-start;
}

.loadingIndicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  opacity: 1;
  animation: fadeInOut 1.5s infinite;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

/* @keyframes spin {
  100% {
    transform: rotate(360deg);
  }
} */